*{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    width: 100dvw;
    display: flex;
    gap: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5rem;
    div{
        margin: 0.5rem;
        input{
          width: 100%;  
        }
    }
}